@font-face {
  font-family: "wenkai";
  src: url(fonts/LXGWWenKaiMono-Regular.woff2) format("woff2"),
    url(fonts/LXGWWenKaiMono-Regular.woff) format("woff"),
}

@font-face {
  font-family: "sarasa";
  src: url(fonts/SarasaGothicSC-Regular.woff2) format("woff2"),
    url(fonts/SarasaGothicSC-Regular.woff) format("woff");
  /* regular */
  font-weight: 400;
}

@font-face {
  font-family: "sarasa";
  src: url(fonts/SarasaGothicSC-Bold.woff2) format("woff2"),
    url(fonts/SarasaGothicSC-Bold.woff) format("woff");
  /* bold */
  font-weight: 700;
}


/* 斜体 - 美化 */
em, /* 预览模式下 */
span.cm-em, /* 实时预览下 */
.cm-quote.cm-quote-1.cm-em /* 实时预览的引用块下 */ {
  /* 不倾斜 */
  font-style: normal;
  font-family: "wenkai";
}

@font-face {
  font-family: "sarasa_lline";
  src: url(fonts/SarasaGothicSC-Regular.woff2) format("woff2"),
    url(fonts/SarasaGothicSC-Regular.woff) format("woff");
  /* regular */
  font-weight: 400;
  /* unicode range */
  unicode-range: U+2014-2014;
}

@font-face {
  font-family: "sarasa_lline";
  src: url(fonts/SarasaGothicSC-Bold.woff2) format("woff2"),
    url(fonts/SarasaGothicSC-Bold.woff) format("woff");
  /* bold */
  font-weight: 700;
  /* unicode range */
  unicode-range: U+2014-2014;
}

body,
textarea,
input[type="button"],
input[type="reset"],
input[type="week"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="submit"],
.btn {
  font-family: "sarasa_lline",Lato,"sarasa",proxima-nova, Helvetica Neue, Arial, sans-serif;
}

.rst-content .sidebar .sidebar-title,
.rst-content .toctree-wrapper > p.caption,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: "sarasa_lline",Roboto Slab,"sarasa", ff-tisa-web-pro, Georgia, Arial, sans-serif;
}
